<button type="button" (click)="testAPIConnection()">
  Test API connection
</button>
<span>
  {{ test ? "Can make a connection" : "Could NOT make a connection" }}</span
>
<br />
<br />
<span>Receive notifications?</span>
<input
  type="checkbox"
  [(ngModel)]="receiveNotifications"
  (change)="toggledReceiveNotifications()"
/>
<br />
<br />
<span>Send test notification</span>
<br />
<input
  type="text"
  [(ngModel)]="notification.title"
  name="notification-title"
  placeholder="Title"
/>
<br />
<textarea
  [(ngModel)]="notification.body"
  name="notification-body"
  placeholder="Body"
  rows="3"
  cols="25"
></textarea>
<br />
<input
  type="text"
  [(ngModel)]="notification.url"
  name="notification-url"
  placeholder="URL"
/>
<br />
<button type="button" (click)="sendNotificationFromBackend()">
  Send
</button>
